rules_version = '2';

// A read rule can be broken into get and list, while a write rule can be broken into create, update, and delete
// https://firebase.google.com/docs/firestore/security/rules-structure

// new version

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /gameResult/{document=**} {
      allow write: if true;
    }
    
    match /faq/{document=**} {
      allow read: if true;
    }
    
    match /content/{document=**} {
      allow read: if true;
    }    
    
    match /word/{document=**} {
      allow read: if !resource.data.locked;
    }
    
    match /stats/{document=**} {
      allow read: if true;
    }    

    match /gameStats/{document=**} {
      allow get: if true;
    }  

    match /sharedResult/{document=**} {
      allow get, create, update: if true;
    }  

    match /allResults/{document=**} {
      allow get, create, update: if true;
    }  

    match /savedGames/{document=**} {
      allow get, create, update: if true;
    }  

  }
}



